@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #99004d 0%, #3F00FF 100%);
}

.container{
  background:  #F8F9F9;
  width: 500px;
  padding: 25px;
  margin: 50px auto 0;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.30);
  border-top: 5px solid blue;
}

.container h2{
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 30px;
}

.input-name{
  width: 90%;
  position: relative;
  margin: 20px auto;
}

.lock{
  padding: 8px 11px;
}

.input-name span{
  margin-left: 35px;
}

.text-name{
  width: 100%;
  padding: 8px 0 8px 40px;
}

.input-name i{
  position: absolute;
  font-size: 18px;
  color: blue;
  border-right: 1px solid #cccccc;
}

.email{
  padding: 8px;
}

.eye{
  padding: 10px;
  cursor: pointer;
  margin-top: -3px;
  margin-left: -40px;
  border-left: 0px transparent; #cccccc;
  line-height: 16px;
}

.text-name, .name{
  border: 1px solid #cccccc;
  outline: none;
  -webkit-transition:  all 0.30s ease-in-out;
  -moz-transition:  all 0.30s ease-in-out;
  -ms-transition:  all 0.30s ease-in-out;
  transition:  all 0.30s ease-in-out;
}

.text-name:hover,.name:hover{
  background-color: #EBEBEB;
}

.text-name:focus,.name:focus{
  border: 1px solid blue;
}

@-webkit-keyframes check{
  0%{height:  0; width: 0;}
  25%{height:  0; width: 7px;}
  50%{height:  20px; width: 7px;}
}

.title2{
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 5px;
  margin-top: -15px;
  margin-left: 20px;
  font-size: 20px;
  position: relative;
}

.button{
  background-color: blue;
  margin-top: -20px;
  color: white;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover{
  background: green;
}

.title{
  padding: 8px;
  margin-left: 17px;
  margin-top: -22px;
  font-size: 20px;
  position: absolute;
}

@media (max-width: 480px){
  .container{
    width: 100%;
    padding: 5px;
  }
  .input-name{
    margin-bottom: -10px;
  }
  .name{
    width: 100%;
    padding: 8px 0 8px 40px;
    margin-bottom: 10px;
  }
  .input-name span{
    padding: 0;
    margin: 0;
  }
  .form-container{
    width: 100%;
  } 
}